<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:webflow-config="http://www.springframework.org/schema/webflow-config"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">


    <bean class="springinaction.sound.system.SgtPeppers" id="sgtPeppers"/>
    <bean class="springinaction.sound.system.CDPlayer" id="cdPlayer">
        <constructor-arg ref="sgtPeppers"/>

    </bean>


    <context:component-scan base-package="springinaction.aop"/>


    <aop:config>

        <aop:aspect ref="audience">

        </aop:aspect>

    </aop:config>


    <!-- 配置流程执行器-->
    <webflow-config:flow-executor id="flowExecutor" flow-registry="flowRegistry">
        <webflow-config:flow-execution-repository/>
    </webflow-config:flow-executor>

    <webflow-config:flow-registry id="flowRegistry">
        <webflow-config:flow-location path="/WEB-INF/flows/*/*-flow.xml"/>
    </webflow-config:flow-registry>

    <bean class="org.springframework.webflow.mvc.servlet.FlowHandlerMapping" id="flowHandlerMapping">
        <property name="flowRegistry" ref="flowRegistry"/>
    </bean>

    <bean class="org.springframework.webflow.mvc.servlet.FlowHandlerAdapter" id="flowHandlerAdapter">
        <property name="flowExecutor" ref="flowExecutor"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
         p:dataSource-ref="dataSource">
    </bean>
    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource"
            p:driverClassName="com.mysql.jdbc.Driver"
            p:url="jdbc:mysql://localhost:3306/test"
            p:username="root"
            p:password="mysql123456">
    </bean>
</beans>